.header {
    display: flex;
}

.header-back-button {
    border: none;
    background: transparent;
}

.ARlebnispfad-card-list {
    display: flex;
    flex-direction: column;
}

.ARlebnispfad-card-1, .ARlebnispfad-card-2 , .ARlebnispfad-card-3 {
    display: flex;
    position: relative;
    min-height: 240px;
    justify-content: left;
}

.ARlebnispfad-card-1 {
    background: url("../assets/images/bergisches_waldbroel-4351265.jpg");
    background-size: 100% 100%;
}

.ARlebnispfad-card-2 {
    background: url("../assets/images/unnenbergturm.jpg");
    background-size: 100% 100%;
}

.ARlebnispfad-card-3 {
    background: url("../assets/images/aggertalsperre.jpg_667295446.jpg");
    background-size: 100% 100%;
}

.ARlebnispfad-card-text {
    position: absolute;
    bottom: 0;
    height: 20px;
    color: white;
}