.AudioController-header {
    display: flex;
    position: absolute;
    z-index: 9999;
}

.header-back-button {
    border: none;
    background: transparent;
}

.a-canvas {
    max-width: 480px !important;
}